@font-face {
  font-family: "iconfont"; /* Project id 2332188 */
  src: url('iconfont.woff2?t=1639662115352') format('woff2'),
       url('iconfont.woff?t=1639662115352') format('woff'),
       url('iconfont.ttf?t=1639662115352') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tag:before {
  content: "\e66c";
}

.icon-tag-subscipt:before {
  content: "\e78a";
}

.icon-tag-subscript:before {
  content: "\e7d2";
}

.icon-qq1:before {
  content: "\e601";
}

.icon-yueduliang:before {
  content: "\e671";
}

.icon-date:before {
  content: "\e6b0";
}

.icon-weixin:before {
  content: "\e620";
}

.icon-weixin1:before {
  content: "\e82c";
}

.icon-weibo:before {
  content: "\e608";
}

.icon-qq:before {
  content: "\e6ca";
}

.icon-kafei:before {
  content: "\e738";
}

.icon-github:before {
  content: "\e600";
}

.icon-leimupinleifenleileibie:before {
  content: "\e7f9";
}

.icon-yonghutouxiang:before {
  content: "\e851";
}

